section > aside{
    margin-left: 156px;
    margin-top: 23px;
}

section > aside ul {
    width: 73px;
    list-style: none;
    background-color: white;
}

section > aside > ul {
    border-top: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
    border-radius: 2px;
    box-shadow: 0 7px 9px #e2e2e2;
}

section > aside > ul > li {
    /*height: 48px;*/
    border-bottom: solid 1px #d9d9d9;
}

section > aside > ul > li > ul > li {
    border-top: solid 1px #d9d9d9;
}

section > aside > ul > li:last-child{
   border-bottom: none;
}

section > aside > ul > li a{
    line-height: 48px;
    padding-left: 10px;
    display: flex;
    font-size: 13px;
    color: #767676;
}

section > aside > ul > li > a:after{
    margin-left: auto;
    margin-right: 10px;
    content: '\f107';
    font-family: FontAwesome, serif;
    color: #b4b4b4;
}

section > aside > ul > li.selected > a:after{
    content: '\f106';
}

