footer{
    position: fixed;
    height: 25px;
    width: 100%;
    bottom: 0;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #939393;
}