header{
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #079894;
    color: white;
}

#icMenu {
    margin-left: 24px;
}

#logo{
    margin-left: 20px;
    height: 32px;
}

#verticalBar {
    width: 1px;
    height: 28px;
    background-color: white;
    margin-left: 15px;
}

#testName {
    font-size: 18px;
    margin-left: 17px;
}

#userName {
    font-size: 14px;
    margin-left: auto;
}

#logout{
    margin-left: 7px;
    margin-right: 30px;
    height: 28px;
}
