nav{
    background-color: white;
    border-bottom: 1px solid #ebebeb;
}

nav > div{
    height: 47px;
    display: flex;
    align-items: center;
    min-width: 600px;
    margin-right: 168px;
}

#back{
    margin-left: 25px;
    color: #079894;
    font-size: 14px;
    line-height: 14px;
}

#back > span{
    margin-right: 10px;
    font-size: 16px;
}

nav > div > h1{
    margin-left: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #606061;
}

#icFilter{
    margin-left: auto;
    font-size: 19px;
    color: #737373;
}

#filterMenu {
    align-self: flex-start;
    visibility: hidden;
    margin-top: 1px;
    width: 214px;
    height: 154px;
    margin-left: -214px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    background-color: white;
    z-index: 1;
}

#filterMenu form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: inherit;
    margin-left: 24px;
}

#filterMenu form > div > label{
    display: flex;
}

#filterMenu form > div:first-child{
    margin-top: 24px;
}

#filterMenu form > div:last-child{
    margin-bottom: 28px;
}

#filterMenu label{
    font-size: 14px;
}

#icSysBarMenu {
    height: 16px;
    margin-left: 11px;
    margin-right: 11px;
}

#icFilter:hover + #filterMenu, #filterMenu:hover{
    visibility: visible;
}