section > section{
    display: flex;
    flex-wrap: wrap;
}

section > section > div{
    width: 291px;
    height: 399px;
    margin-left: 23px;
    margin-top: 23px;
    background-color: white;
    border: 1px solid rgba(191, 191, 191, 0.25);
    border-radius: 1px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

section > section > div > .div1 {
    height: 65px;
    border-bottom: solid 1px #e0e0e0;
}

section > section > div > div > form{
    margin-left: 16px;
    padding-top: 16px;
}

section > section > div > div > form > label{
    display: flex;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-top: -4px;
    height: 34px;
    font-weight: 700;
}

section > section > div > div > form > label:before{
    margin-top: 4px;
    margin-right: 14px;
}

section > section > div > div > form > label > span{
    position: absolute;
    left: 2px;
    top: 26px;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}

section > section > div > figure{
    margin-left: 90px;
    height: 123px;
    border-bottom: solid 1px #e0e0e0;
}

section > section > div > figure > img {
    margin-top: 12px;
}

section > section > div > figure > figcaption{
    margin-top: 9px;
}

section > section > div > figure > figcaption > a {
    letter-spacing: -0.25px;
    color: #079894;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

section > section > div > .div3 {
    height: 40px;
    background-color: #fafafa;
    border-bottom: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
}

section > section > div > .div3 > a{
    color: #737373;
}

section > section > div > .div3 > .a1{
    font-size: 19px;
    margin-left: 73px;
}

section > section > div > .div3 > .a2{
    font-size: 19px;
    margin-left: 25px;
}

section > section > div > .div3 > .a3{
    font-size: 12px;
    margin-left: 21px;
}

section > section > div > .div3 > .a4{
    font-size: 12px;
    margin-left: 28px;
}
section > section > div > ul {
    list-style: none;
    font-size: 13px;
    color: #767676;
}

section > section > div > ul > li{
    display: flex;
    align-items: center;
    height: 42px;
    border-bottom: solid 1px #e0e0e0;
}

section > section > div > ul > li:last-child{
    border: none;
}

section > section > div > ul > li > .name{
    margin-left: 14px;

}

section > section > div > ul > li > .value{
    margin-left: auto;
    margin-right: 20px;
}