@import url(header.css);
@import url(nav.css);
@import url(aside.css);
@import url(section.css);
@import url(footer.css);

@font-face {
    font-family: FontAwesome;
    src: url(/_fonts/fonts/fontawesome-webfont.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    min-width: 600px;
}

ul, figure{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

input[type="checkbox"]{
    display: none;
}

label:before{
    width: 18px;
    height: 18px;
    margin-right: 7px;
    content: url("/_img/checkbox-outline-copy.png");
}

input:checked + label:before{
    content: url("/_img/checkbox.png");
}

body > section{
    display: flex;
    margin-bottom: 50px;
}